.pictureContainer {
  @apply select-none flex justify-center items-center bg-[url('/ZiBackground.svg')] border-[2px] border-accentLight w-[250px] h-[250px] rounded-[50%] overflow-hidden;
  box-shadow: inset 0px -15px var(--accent-light);
  transition: all 300ms ease-in-out;
}

.pictureContainer .image {
  @apply w-[250px] mb-[-50px] h-auto;
  transform: translateY(15px) scale(1);
  transition: all 400ms ease;
}

.pictureContainer:hover {
  box-shadow: inset 0px -40px var(--accent-light);
  border: 2px solid var(--accent-light);
  transition: all 300ms ease;
}

.pictureContainer:hover .image {
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.445));
  transform: translateY(0) scale(1.02);
  transition: all 400ms ease;
}