.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-right: 20px;
}

.all-skills-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.skills-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.category-heading {
    color: var(--clear-white);
    font-size: var(--sub-heading);
}

.skill {
    display: flex;
    column-gap: 25px;
    row-gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 970px) {

    .skills-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .all-skills-card-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skills-card-container {
        justify-content: center;
        align-items: center;
    }

    .skill {
        justify-content: center;
        align-items: center;
        column-gap: 25px;
    }
}

@media screen and (max-width: 680px) {

    .skills-container,
    .all-skills-card-container {
        align-items: flex-start;
    }

    .skills-card-container {
        align-items: flex-start;
        text-align: left;
    }


    .skill {
        justify-content: flex-start;
        column-gap: 10px;
    }
}