.aboutme-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.aboutme-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--clear-white);
  font-size: var(--normal);
  text-align: left;
  line-height: 25px;
  word-spacing: 6px;
  font-weight: 300;
  width: 60ch;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 970px) {

  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .picture-container {
    order: -1;
    transform: scale(0.7) !important;
  }

  .about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-body {
    text-align: center;
    word-wrap: break-word;
    width: 85%;
  }
}

@media screen and (max-width: 400px) {

  aboutme-body {

    background-color: aliceblue;
  }

  .buttons-container {
    flex-direction: column;
  }
}