.aboutme-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.aboutme-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--clear-white);
  font-size: var(--normal);
  text-align: left;
  line-height: 25px;
  word-spacing: 6px;
  font-weight: 300;
  width: 60ch;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 970px) {

  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .picture-container {
    transform: none !important;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    order: -1;
  }

  .picture-container img {
    width: 120px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-body {
    text-align: center;
    word-wrap: break-word;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .aboutme-container {
    align-items: flex-start;
  }

  .about-me {
    align-items: flex-start;
  }

  .aboutme-body {
    text-align: left;
  }

  .buttons-container {
    align-items: unset;
  }
}

@media screen and (max-width: 490px) {

  .buttons-container {
    flex-direction: column;
    width: 74%;
  }
  
}