.aboutme-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--clear-white);
  font-size: var(--normal);
  text-align: left;
  line-height: 25px;
  word-spacing: 6px;
  font-weight: 300;
  width: 60ch;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 1024px) {

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {


  .about-me {
    align-items: flex-start;
  }

  .buttons-container {
    align-items: unset;
  }
}

@media screen and (max-width: 640px) {

  .buttons-container {
    flex-direction: column;
    width: 74%;
  }

}