:root {
  /* Dark Palette */
  --dark-main: #1f1d2e;

  --light-main: #ebbcba;
  --clear-light: #ebbcba9f;
  --accent-light: #7bb8d1;

  
  --accent: #31748f;
  --accent-dark: #28485f;

  --clear-white: #eeeeee;
  /* Typo */
  --sub-heading: 25px;
  --medium: 20px;
  --normal: 16px;
  
  --small: 14px;
}