.study-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--clear-light);
  transition: all 200ms ease;
}

.study-card:hover {
  border: 1px solid var(--accent-light);
  transition: all 200ms ease;
}

.study-card p {
  width: 50ch;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-info {
  color: var(--light-main);
}

.card-description {
  color: var(--clear-white);
}

.certificate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  width: max-content;
  padding: 4px 10px;
  background-color: var(--light-main);
  font-size: var(--small);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  transition: all 200ms ease;
}

.certificate-button:disabled * {
  cursor: not-allowed;
}

.certificate-button:disabled {
  background-color: rgb(148, 147, 147);
  color: var(--dark-main);
}

.certificate-button:hover:disabled {
  box-shadow: none;
  transform: none;
}

.certificate-button a {
  color: var(--dark-main);
}

.certificate-button:hover {
  box-shadow: 5px 5px var(--clear-light);
  transition: all 200ms ease;
  transform: scale(1.03);
}

@media screen and (max-width: 970px) {

  .study-card {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .study-card p {
    width: 80%;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 680px) {

  .study-card {
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 490px) {

  .study-card p {
    width: 100% !important;
  }
}